* {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background: #3B3C3C url('../img/backG.png');
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
}
/* Disable double tap zoom AND select text */
.disable-dbl-tap-zoom {
    touch-action: manipulation;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
canvas {
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

/* FORMATAÇÃO / ESTILO */
h2 {
    margin: 5px;
    padding: 5px;
    color: white;
    text-align: center;
}
h3 {
    margin: 5px;
    padding: 5px;
    color: white;
    text-align: center;
}

/* SESSÃO MENU - texto, button */
#menu {
    display: flex;
    margin: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    justify-content:right;
    align-items: center;
    width: 800px;
}

/* BUTTONS */
.btn{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
    margin: 10px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.btn-2{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
    margin: 10px;
	border-radius: 30px;
	transition: transform .4s; 

    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -26%);
}
.btn-2:hover{
    background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

/* SESSÃO MODAL */
.modal {
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0,0,0,0.5);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;

    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.modal-content {
    background-color: #3B3C3C;
    padding: 8px 8px;
    width: 690px;
    height: 500px;

    border-radius: 0.8rem;
}
.close-btn {
    float: right;
    width: 24px;
    cursor: pointer;
    background-color: #f9004d;
    border-radius: 0.8rem;
    text-align: center;
    line-height: 24px;
}
.close-btn:hover {
    background-color: #800028;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

/* SESSÃO INSTRUÇÃO - img, texto, container */
#keyboardF {
    position: relative;
    background: url('../img/keyboardF.png');
    width: 670px;
    height: 236px;
    border-radius: 0.6rem;

    margin: auto;
    display: flex;
    align-items: center;
}

/* Bloco na possição S */
#inst-1 {
    position: relative;
    width: 42px;
    height: 40px;
    left: 139px;
    bottom: 30px;
}
#inst-1:hover {
    background-color: #800028;
}

/* Bloco na possição Space */
#inst-2 {
    position: relative;
    width: 324px;
    height: 40px;
    left: 152px;
    top: 78px;
}
#inst-2:hover {
    background-color: #800028;
}

/* Criação da instrução S */
.inst-1-content {
    background-color: #f9004d;
    position: relative;
    width: 400px;
    height: 200px;
    top: 180px;
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;

    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;

    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.show-inst-1 {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

/* ÁREA-F - container */
#icone {
    color: white;
    font-size: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    top: 100px;
}
#img {
    background: url('../img/persoFG.gif') no-repeat;
    background-size: 122px 102px;
    position: relative; 
    margin: auto;
    bottom: 0px;
    width: 300px;
    height: 200px;
    animation: jump 1s ease-out infinite, andar 1.5s linear infinite;
}

#img-d {
    background: url('../img/persoFG.gif') no-repeat;
    background-size: 122px 102px;
    position: relative; 
    margin: auto;
    bottom: 80px;
    left: 110px;
    width: 300px;
    height: 200px;
    animation: downF 0.5s ease-in-out infinite;
}

@keyframes andar {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: 200px;
    }
}
@keyframes jump {
    0%, 100% {
        bottom: 50px; 
    }
    45%, 65% {
        bottom: 120px;
    }
}
@keyframes downF {
    0% {
        background-position-y: 0px;
    }
    100% {
        background-position-y: 80px;
    }
}

/* Criação da instrução Space */
.inst-2-content {
    background-color: #f9004d;
    position: relative;
    width: 400px;
    height: 200px;
    top: 70px;
    right: 55px;
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;

    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;

    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.show-inst-2 {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}